.site-content {
  .banner {
    position: relative;
    .slider-loading{
      height: 380px;
      width: 100%;
      overflow: hidden;
      @include respond-to-custom-size(null, 992px){
        height: 520px;
      }
    }
    .slider-item{
      height: 380px;
      width: 100%;
      @include respond-to-custom-size(null, 992px){
        height: 520px;
      }
    }
    .main-content-banner{
      position: absolute;
      left: 0;
      top:0;
      width: 100%;
      height: 100%;
    }
  }
  .banner-left {
    float: left;
    width: 50%;
    @include respond-to-custom-size(null, 992px) {
      width: 100%;
      text-align: center;
    }
    form {
      background: #b7b7b7;
      position: relative;
      padding: 45px 20px 0;
      max-width: 394px;
      margin-bottom: 55px;
      display: inline-block;
      &:after {
        position: absolute;
        content: '';
        left: 0;
        bottom: -53px;
        width: 100%;
        height: 54px;
        background: url("../img/bg-bottom-form.png") no-repeat bottom center;
      }
      @include respond-to-custom-size(null, 768px){
        max-width: 100%;
      }
      input {
        width: 100%;
        height: 35px;
        margin-bottom: 10px;
        border: 0;
        background: #ffffff;
        font-size: 18px;
        padding: 0 10px;
        color: #000000;
        @include place-holder() {
          color: #000000;
        }
      }
      input[type="checkbox"] {
        display: none;
        &:checked {
          & + label:after {
            position: absolute;
            content: '✔';
            left: 0;
            top: 0;
            width: 20px;
            height: 20px;
            color: #000;
            text-align: center;
          }
        }
      }
      label {
        color: #000000;
        font-size: 12px;
        padding-left: 40px;
        position: relative;
        font-weight: normal;
        &:before {
          position: absolute;
          content: '';
          left: 0;
          top: 0;
          width: 20px;
          height: 20px;
          background: #ffffff;
        }
      }
      input[type="submit"] {
        font-size: 30px;
        font-weight: bold;
        color: #ffffff;
        background: #82c404;
        text-align: center;
        padding: 10px 0;
        height: auto;
      }
    }
  }
  .banner-right {
    float: left;
    width: 50%;
    text-align: right;
    @include respond-to-custom-size(null, 992px) {
      width: 100%;
      text-align: center;
      margin-top: 20px;
    }
    img {
      max-width: 100%;
      height: auto;
    }
    .banner-intro {
      display: inline-block;
      padding-bottom: 20px;
      text-align: right;
    }
    .big-text {
      color: #fff;
      font-weight: bold;
      font-size: 30px;
      background: #6d9831;
      padding: 10px 10px;
    }
    .small-text {
      color: #000000;
      font-size: 30px;
      font-weight: bold;
      background: #5e8a9f;
      display: inline-block;
      padding: 5px 15px;
    }
  }
  .title-section {
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
  .list-block {
    .block-item {
      padding: 0;
      height: 155px;
      overflow: hidden;
      margin-bottom: 10px;
      @include respond-to-custom-size(null, 768px) {
        padding: 0 14px;
      }
    }
    .block-item-inner {
      padding-left: 80px;
      padding-right: 10px;
      .title-item {
        color: #000000;
        font-size: 18px;
        font-weight: bold;
      }
      .intro-item {
        color: #000000;
        font-family: 'Myriad Pro';
        font-size: 14px;
      }
      &.icon-1 {
        background: url("../img/icon1.png") no-repeat left top;
      }
      &.icon-2 {
        background: url("../img/icon2.png") no-repeat left top;
      }
      &.icon-3 {
        background: url("../img/icon3.png") no-repeat left top;
      }
      &.icon-4 {
        background: url("../img/icon4.png") no-repeat left top;
      }
      &.icon-5 {
        background: url("../img/icon5.png") no-repeat left top;
      }
      &.icon-6 {
        background: url("../img/icon6.png") no-repeat left top;
      }
    }
  }
  .block-video-left {
    .video-item {
      float: left;
      width: 50%;
      padding-top: 10px;
      @include respond-to-custom-size(null, 992px) {
        width: 100%;
        text-align: center;
      }
      iframe {
        max-width: 100%;
        @include respond-to-custom-size(null, 768px) {
          height: 300px;
        }
      }
    }
    .intro-item {
      float: left;
      width: 50%;
      padding-left: 10px;
      @include respond-to-custom-size(null, 992px) {
        width: 100%;
        padding-left: 0;
        text-align: center;
        margin-top: 20px;
        .intro-item-inner {
          display: inline-block;
          text-align: left;
        }
        .content {
          margin-bottom: 20px;
        }
      }
      .title-item {
        color: #000000;
        font-size: 36px;
        font-weight: bold;
        font-family: 'Myriad Pro';
      }
      .content {
        color: #000000;
        font-size: 18px;
        font-family: 'Myriad Pro';
      }
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
  .block-video-right {
    margin-top: 20px;
    .intro-item {
      float: left;
      width: 50%;
      padding: 0 30px;
      @include respond-to-custom-size(null, 992px) {
        width: 100%;
        padding: 0;
        text-align: center;
      }
      .intro-item-inner {
        position: relative;
        padding: 50px;
        background: #f5f5f5;
        display: inline-block;
        @include respond-to-custom-size(null, 480px){
          padding: 25px 20px;
        }
        .bg-top-left {
          position: absolute;
          content: '';
          z-index: 1;
          background: url("../img/wrap-top-left.png") no-repeat left;
          height: 50px;
          width: 50px;
          left: 30px;
          top: 30px;
          @include respond-to-custom-size(null, 480px){
            left: 15px;
            top: 15px;
          }
        }
        .bg-top-right {
          position: absolute;
          content: '';
          z-index: 1;
          background: url("../img/wrap-top-right.png") no-repeat right;
          height: 50px;
          width: 50px;
          right: 30px;
          top: 30px;
          @include respond-to-custom-size(null, 480px){
            right: 15px;
            top: 15px;
          }
        }
        .bg-bot-left {
          position: absolute;
          content: '';
          z-index: 1;
          background: url("../img/wrap-bot-left.png") no-repeat left;
          height: 50px;
          width: 50px;
          left: 30px;
          bottom: 30px;
          @include respond-to-custom-size(null, 480px){
            left: 15px;
            bottom: 15px;
          }
        }
        .bg-bot-right {
          position: absolute;
          content: '';
          z-index: 1;
          background: url("../img/wrap-bot-right.png") no-repeat right;
          height: 50px;
          width: 50px;
          right: 30px;
          bottom: 30px;
          @include respond-to-custom-size(null, 480px){
            right: 15px;
            bottom: 15px;
          }
        }
      }
      .content {
        color: #000000;
        font-size: 18px;
        font-family: 'Myriad Pro';
        position: relative;
        z-index: 2;
        padding: 20px;
        @include respond-to-custom-size(null, 480px){
          padding: 30px 20px;
        }
        .button {
          width: 100%;
          padding: 5px 20px;
          color: #ffffff;
          display: block;
          background: #585858 8px;
          text-align: center;
          margin-top: 15px;
        }
      }
    }
    .video-item {
      float: left;
      width: 50%;
      @include respond-to-custom-size(null, 992px) {
        width: 100%;
        text-align: center;
      }
      iframe {
        max-width: 100%;
        @include respond-to-custom-size(null, 768px) {
          height: 300px;
        }
      }
    }
  }
  .block-guide {
    .title-block {
      font-size: 30px;
      color: #000000;
      font-weight: bold;
      text-align: center;
      padding: 20px 0;
    }
    .video-guide {
      float: left;
      width: 65%;
      @include respond-to-custom-size(null, 992px) {
        width: 100%;
        text-align: center;
      }
      iframe {
        max-width: 100%;
      }
    }
    .intro-right {
      float: left;
      width: 30%;
      padding-left: 20px;
      text-align: center;
      @include respond-to-custom-size(null, 992px) {
        width: 100%;
        padding-left: 0;
      }
      .intro-right-inner{
        @include respond-to-custom-size(null, 992px){
          max-width: 300px;
          margin: auto;
        }
      }
      img {
        max-width: 100%;
        height: auto;
      }
      .button {
        background: #77a339;
        padding: 5px 10px;
        color: #ffffff;
        font-size: 18px;
        font-weight: bold;
        display: block;
        width: 100%;
        text-transform: uppercase;
      }
      .description{
        color: #000;
        font-size: 18px;
        padding: 10px 0;
      }
    }
  }
}